## Preprocessing

In [22]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [23]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
counts = application_df['APPLICATION_TYPE'].value_counts()
counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts[counts < 1000].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 500].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, dtype=float)
application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop('IS_SUCCESSFUL', axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  7
hidden_nodes_layer2 = 21

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 294

 dense_1 (Dense)             (None, 21)                168

 dense_2 (Dense)             (None, 1)                 22

=================================================================
Total params: 484 (1.89 KB)
Trainable params: 484 (1.89 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6085 - accuracy: 0.6932
Epoch 2/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5671 - accuracy: 0.7226
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5611 - accuracy: 0.7260
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5591 - accuracy: 0.7263
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5579 - accuracy: 0.7264
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5567 - accuracy: 0.7269
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5555 - accuracy: 0.7277
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5548 - accuracy: 0.7287
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5539 - accuracy: 0.7283
Epoch 10/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5535 - accuracy: 0.7287
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5533 - accuracy: 0.7294
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5530 - accuracy: 0.7296
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5524 - accuracy: 0.7291
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5523 - accuracy: 0.7309
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5520 - accuracy: 0.7301
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5512 - accuracy: 0.7306
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5516 - accuracy: 0.7295
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5512 - accuracy: 0.7302
Epoch 19/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5509 - accuracy: 0.7297
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5511 - accuracy: 0.7304
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5505 - accuracy: 0.7308
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5507 - accuracy: 0.7308
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5501 - accuracy: 0.7310
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5500 - accuracy: 0.7315
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5496 - accuracy: 0.7307
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5496 - accuracy: 0.7317
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7311
Epoch 28/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5489 - accuracy: 0.7320
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7320
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5490 - accuracy: 0.7315
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7316
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5487 - accuracy: 0.7309
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5486 - accuracy: 0.7324
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5489 - accuracy: 0.7317
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5484 - accuracy: 0.7330
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7319
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5485 - accuracy: 0.7324
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5487 - accuracy: 0.7324
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5485 - accuracy: 0.7316
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7314
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5483 - accuracy: 0.7323
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5484 - accuracy: 0.7309
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5481 - accuracy: 0.7325
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7326
Epoch 45/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5480 - accuracy: 0.7327
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7322
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5476 - accuracy: 0.7331
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5476 - accuracy: 0.7324
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5474 - accuracy: 0.7320
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5474 - accuracy: 0.7329

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5545 - accuracy: 0.7315 - 535ms/epoch - 2ms/step
Loss: 0.5544971823692322, Accuracy: 0.7315452098846436

2nd attempt

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  50
hidden_nodes_layer2 = 500

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 50)                2100

 dense_4 (Dense)             (None, 500)               25500

 dense_5 (Dense)             (None, 1)                 501

=================================================================
Total params: 28101 (109.77 KB)
Trainable params: 28101 (109.77 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [17]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=200)

Epoch 1/200
804/804 [==============================] - 3s 2ms/step - loss: 0.5751 - accuracy: 0.7196
Epoch 2/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5595 - accuracy: 0.7273
Epoch 3/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5556 - accuracy: 0.7278
Epoch 4/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5538 - accuracy: 0.7301
Epoch 5/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5516 - accuracy: 0.7309
Epoch 6/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5513 - accuracy: 0.7306
Epoch 7/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5504 - accuracy: 0.7306
Epoch 8/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7320
Epoch 9/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5490 - accuracy: 0.7329
Epoch 10/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5478 - accuracy: 0.7331
Epoch 11/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7332
Epoch 12/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7343
Epoch 13/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7342
Epoch 14/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7345
Epoch 15/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7341
Epoch 16/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5455 - accuracy: 0.7353
Epoch 17/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5451 - accuracy: 0.7355
Epoch 18/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7353
Epoch 19/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7350
Epoch 20/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7362
Epoch 21/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7368
Epoch 22/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7368
Epoch 23/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7361
Epoch 24/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5433 - accuracy: 0.7372
Epoch 25/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7364
Epoch 26/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7365
Epoch 27/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7364
Epoch 28/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7367
Epoch 29/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7370
Epoch 30/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7365
Epoch 31/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5422 - accuracy: 0.7376
Epoch 32/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5421 - accuracy: 0.7374
Epoch 33/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7369
Epoch 34/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7375
Epoch 35/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7371
Epoch 36/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7374
Epoch 37/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7376
Epoch 38/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7381
Epoch 39/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5403 - accuracy: 0.7379
Epoch 40/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7386
Epoch 41/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7377
Epoch 42/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7380
Epoch 43/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7387
Epoch 44/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7380
Epoch 45/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7387
Epoch 46/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5398 - accuracy: 0.7388
Epoch 47/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5399 - accuracy: 0.7380
Epoch 48/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7387
Epoch 49/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7383
Epoch 50/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7382
Epoch 51/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7389
Epoch 52/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7381
Epoch 53/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5391 - accuracy: 0.7381
Epoch 54/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5387 - accuracy: 0.7380
Epoch 55/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7383
Epoch 56/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7381
Epoch 57/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7386
Epoch 58/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7386
Epoch 59/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7383
Epoch 60/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7386
Epoch 61/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5385 - accuracy: 0.7383
Epoch 62/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7385
Epoch 63/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7390
Epoch 64/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7386
Epoch 65/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7391
Epoch 66/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7397
Epoch 67/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7399
Epoch 68/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5381 - accuracy: 0.7388
Epoch 69/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5379 - accuracy: 0.7393
Epoch 70/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7396
Epoch 71/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7398
Epoch 72/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7393
Epoch 73/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7390
Epoch 74/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7394
Epoch 75/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7395
Epoch 76/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5372 - accuracy: 0.7403
Epoch 77/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5375 - accuracy: 0.7395
Epoch 78/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7397
Epoch 79/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7397
Epoch 80/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7400
Epoch 81/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7391
Epoch 82/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7399
Epoch 83/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7397
Epoch 84/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5369 - accuracy: 0.7398
Epoch 85/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7397
Epoch 86/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7392
Epoch 87/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7391
Epoch 88/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7397
Epoch 89/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7395
Epoch 90/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7394
Epoch 91/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5371 - accuracy: 0.7393
Epoch 92/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5363 - accuracy: 0.7398
Epoch 93/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7397
Epoch 94/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7397
Epoch 95/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7397
Epoch 96/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7403
Epoch 97/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7396
Epoch 98/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5365 - accuracy: 0.7397
Epoch 99/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5364 - accuracy: 0.7396
Epoch 100/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7399
Epoch 101/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7400
Epoch 102/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7396
Epoch 103/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7398
Epoch 104/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7403
Epoch 105/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7407
Epoch 106/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5363 - accuracy: 0.7401
Epoch 107/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5354 - accuracy: 0.7401
Epoch 108/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7405
Epoch 109/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7402
Epoch 110/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7394
Epoch 111/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7397
Epoch 112/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7398
Epoch 113/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5362 - accuracy: 0.7393
Epoch 114/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5354 - accuracy: 0.7403
Epoch 115/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7397
Epoch 116/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7397
Epoch 117/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7398
Epoch 118/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7403
Epoch 119/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7401
Epoch 120/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7399
Epoch 121/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5359 - accuracy: 0.7396
Epoch 122/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5354 - accuracy: 0.7403
Epoch 123/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7399
Epoch 124/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7402
Epoch 125/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7397
Epoch 126/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7396
Epoch 127/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7406
Epoch 128/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5356 - accuracy: 0.7405
Epoch 129/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5359 - accuracy: 0.7397
Epoch 130/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7403
Epoch 131/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7397
Epoch 132/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7397
Epoch 133/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7405
Epoch 134/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7403
Epoch 135/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7402
Epoch 136/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5351 - accuracy: 0.7397
Epoch 137/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5356 - accuracy: 0.7404
Epoch 138/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7403
Epoch 139/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7405
Epoch 140/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7405
Epoch 141/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7397
Epoch 142/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7400
Epoch 143/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5353 - accuracy: 0.7410
Epoch 144/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5351 - accuracy: 0.7409
Epoch 145/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7404
Epoch 146/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7401
Epoch 147/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7402
Epoch 148/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7397
Epoch 149/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7400
Epoch 150/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7401
Epoch 151/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5354 - accuracy: 0.7400
Epoch 152/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7395
Epoch 153/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7397
Epoch 154/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7402
Epoch 155/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7404
Epoch 156/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7402
Epoch 157/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7407
Epoch 158/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5349 - accuracy: 0.7402
Epoch 159/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5346 - accuracy: 0.7405
Epoch 160/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7400
Epoch 161/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7404
Epoch 162/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7410
Epoch 163/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7407
Epoch 164/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7408
Epoch 165/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7401
Epoch 166/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5349 - accuracy: 0.7397
Epoch 167/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7396
Epoch 168/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7406
Epoch 169/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7404
Epoch 170/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7401
Epoch 171/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7404
Epoch 172/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7401
Epoch 173/200
804/804 [==============================] - 3s 4ms/step - loss: 0.5349 - accuracy: 0.7407
Epoch 174/200
804/804 [==============================] - 5s 6ms/step - loss: 0.5362 - accuracy: 0.7404
Epoch 175/200
804/804 [==============================] - 4s 5ms/step - loss: 0.5364 - accuracy: 0.7405
Epoch 176/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5344 - accuracy: 0.7409
Epoch 177/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7410
Epoch 178/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7394
Epoch 179/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5348 - accuracy: 0.7407
Epoch 180/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5351 - accuracy: 0.7407
Epoch 181/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7405
Epoch 182/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7402
Epoch 183/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7407
Epoch 184/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7407
Epoch 185/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7404
Epoch 186/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7397
Epoch 187/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5342 - accuracy: 0.7405
Epoch 188/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5343 - accuracy: 0.7410
Epoch 189/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7414
Epoch 190/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7411
Epoch 191/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7401
Epoch 192/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7400
Epoch 193/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7407
Epoch 194/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5379 - accuracy: 0.7400
Epoch 195/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7396
Epoch 196/200

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5885 - accuracy: 0.7293 - 444ms/epoch - 2ms/step
Loss: 0.5885471105575562, Accuracy: 0.7293294668197632

3rd attempt

In [24]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts[counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [25]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 80].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      574
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
Name: count, dtype: int64

In [26]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, dtype=float)
application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [27]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop('IS_SUCCESSFUL', axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [28]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [29]:
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  5
hidden_nodes_layer2 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 5)                 255

 dense_7 (Dense)             (None, 10)                60

 dense_8 (Dense)             (None, 1)                 11

=================================================================
Total params: 326 (1.27 KB)
Trainable params: 326 (1.27 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [30]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [31]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=10)

Epoch 1/10
804/804 [==============================] - 2s 2ms/step - loss: 0.6320 - accuracy: 0.6726
Epoch 2/10
804/804 [==============================] - 1s 2ms/step - loss: 0.5731 - accuracy: 0.7198
Epoch 3/10
804/804 [==============================] - 1s 2ms/step - loss: 0.5638 - accuracy: 0.7264
Epoch 4/10
804/804 [==============================] - 2s 2ms/step - loss: 0.5594 - accuracy: 0.7295
Epoch 5/10
804/804 [==============================] - 2s 3ms/step - loss: 0.5556 - accuracy: 0.7313
Epoch 6/10
804/804 [==============================] - 1s 2ms/step - loss: 0.5539 - accuracy: 0.7313
Epoch 7/10
804/804 [==============================] - 1s 2ms/step - loss: 0.5524 - accuracy: 0.7318
Epoch 8/10
804/804 [==============================] - 1s 2ms/step - loss: 0.5513 - accuracy: 0.7322
Epoch 9/10
804/804 [==============================] - 1s 2ms/step - loss: 0.5511 - accuracy: 0.7323
Epoch 10/10
804/804 [==============================] - 1s 2ms/step - loss: 0.5504 - accuracy: 0.7322

In [32]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5571 - accuracy: 0.7289 - 498ms/epoch - 2ms/step
Loss: 0.5570944547653198, Accuracy: 0.728863000869751

In [33]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(